.login {
    border: 2px dashed black !important;
    width: fit-content;
    padding: 20px;

}

.about {
    border: 2px dashed black;
    width: 100vh;
    height: 500px;
}

.container {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}